.facture-page {
  background: #fff;
}
.facture-section {
  width: 100%;
  max-width: 100%;
  display: block;
  padding-bottom: 70px;
}
.facture-wrapper {
  width: 100%;
  max-width: 807px;
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #7F7F7F;
  }
}

.facture-banner {
  padding: 8% 0;
  @media screen and (min-width: 1100px) {
    padding: 4% 0;
  }
  .facture-banner-wrapper {
    max-width: 807px;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
  }
}

.facture-details {
  .column {
    @media screen and (max-width: 480px) {
      flex: 1 0 100%;
      width: 100%;
    }
  }
  .right-side {
    padding-left: 50px;
    @media screen and (max-width: 480px) {
      padding-left: 0;
    }


  }
}

.facture-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 17px;
  .logo {
    width: 50px;
    height: auto;
    margin-right: 32px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: 0.884615px;
    color: #000000;
    margin: 0;
  }
}

.facture-action {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: max-content;
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
  li {
    + li {
      margin-left: 35px;
      @media screen and (max-width: 480px) {
        margin-left: 20px;
      }
    }
    .link {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }
  }
}


.card-info,
.card-info-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  * {
    font-family: $montserrat;
  }
  + .card-info {
    margin-bottom: 50px;
  }
  &.main {
    margin-bottom: 50px;
  }
  .title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #0076DF;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-top: 0;
    &.main {
      font-weight: normal;
      font-size: 24px;
      line-height: 25px;
      color: #333333;
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    * {
      color: inherit;
      line-height: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-decoration: inherit;
      font-style: inherit;
      letter-spacing: inherit;
    }
    p {
      margin-top: 0;
      + p {
        margin-bottom: 1em;
      }
      > strong, b {
        font-weight: 600;
      }
    }
    strong, b {
      font-weight: 700;
      color: inherit;
    }
  }
}

.card-info-table {
  + .card-info-table {
    margin-bottom: 24px;
  }
  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
}


