<div class="aside-promo">
 <h3 class="title">GRATUIT</h3>
	<div class="promo-looking">
		<img class="icon" src="assets/images/lightbulbr.svg" alt="Card Look">
		<span class="number">435</span>
	</div>
	<p>personnes trouvent <br />cela intéressant.</p>
	<a class="vote-link" href="#vote-section">voter</a>

	<div class="line"></div>

	<div class="counter-wrapper">
		 <h5 class="title">Il reste</h5>
		<div class="counter">
			<div class="part">
				<span class="number">03</span>
				<span class="name">Jours</span>
			</div>
			<div class="part">
				<span class="number">17</span>
				<span class="name">Heures</span>
			</div>
			<div class="part">
				<span class="number">25</span>
				<span class="name">Minutes</span>
			</div>
		</div>
	</div>

	<a href="#" data-id="modal-concours" class="button open-modal">PARTICIPER</a>

</div>
<!-- Modal window -->
@@include('./_modal.html')
