<div class="aside-social">
	 <ul>
		 <li><a href="#" class="social-link"><img src="assets/images/social1.svg" alt="Icon" /></a></li>
		 <li><a href="#" class="social-link"><img src="assets/images/social2.svg" alt="Icon" /></a></li>
		 <li><a href="#" class="social-link"><img src="assets/images/social3.svg" alt="Icon" /></a></li>
		 <li><a href="#" class="social-link"><img src="assets/images/social4.svg" alt="Icon" /></a></li>
		 <li class="more">
			 <a href="#" class="social-link"><img src="assets/images/social5.svg" alt="Icon" /></a>
			 <ul class="more-links">
				 <li><a href="#"><img src="assets/images/social1.svg" alt="Icon" /></a></li>
				 <li><a href="#"><img src="assets/images/social2.svg" alt="Icon" /></a></li>
			 </ul>
		 </li>
	 </ul>
</div>
