<div class="row password-info profile-row">
	<div class="column left-side">


	</div>
	<div class="column right-side">

		<p>Votre mot de passe devrait contenir des chiffres, lettres en majuscules et des <br /> caractères spéciaux.</p>

		<form id="edit-password-form" action="/" method="post" class="profile-form edit-password-form">

			<div class="form-group">

				<!-- Password input-->
				<div class="profile-form__field">
					<label for="password">Nouveau mot de passe</label>
					<div class="password-field">
						<input type="password" name="password" id="password" autocomplete="off" required pattern=".{6,}" />
						<span class="toggle-password"><img src="assets/images/eye.svg" alt="Show/Hide" /></span>
					</div>
					<small class="help-block password-progress">
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
					</small>
					<span class="error">Password is required</span>
				</div>
				<!-- Password input-->
				<div class="profile-form__field">
					<label for="confirm-password">Confirmation mot de passe</label>
					<div class="password-field">
						<input type="password" name="confirm-password" id="confirm-password" autocomplete="off" required pattern=".{6,}" />
						<span class="toggle-password"><img src="assets/images/eye.svg" alt="Show/Hide" /></span>
					</div>
					<small class="help-block password-progress">
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
						<small class='progress-bar' style='width: 25%'></small>
					</small>
					<span class="error">Password don't match</span>
				</div>

				<div class="profile-form__footer">
					<div class="actions">
						<button type="reset" class="reset-button">Reset password</button>
						<button type="submit">Mettre à jour</button>
					</div>
				</div>
			</div>

		</form>

	</div>
</div>
