<div class="container">
	<div class="column left-side">

	<div class="profile-image">
		<img src="assets/images/photo.png" alt="Photo">
	</div>

	</div>
	<div class="column right-side">

		<div class="profile-form__field">
			<label for="contact_email">Email</label>
			<input type="email" name="contact_email" id="contact_email" required>
		</div>
		<div class="profile-form__field">
			<label for="contact_message">Message</label>
			<textarea name="contact_message" id="contact_message" cols="30" rows="10" placeholder="Ecrivez votre message ici…"></textarea>
		</div>
		<div class="profile-form__footer">
			<button type="submit">ENVOYER</button>
		</div>

	</div>
</div>
