<div class="questions-wrapper">

	<div class="comments-list">
		<div class="comment-wrapper">
		   <div class="comment-body">

	         <div class="comment">
		         <div class="side">
			         <div class="photo">
				         <img src="assets/images/photo.png" alt="Photo" />
			         </div>
		         </div>
		         <div class="main">
			         <div class="comment-header">
				         <div class="left">
					         <h3 class="author-name">Jérémy Goldyn</h3>
				         </div>
			         </div>

			         <p>Bonsoir, j’ai lu le livre lean startup de Erik Ries suite à tes conseils il me semble c’est devenu une habitude de raisonner de cette manière que ce soit pour concevoir site internet, site le commerce ou activité hors ligne quels sont les apports de Ash Maurya <br/>Merci.</p>
			         <div class="bottom">
				         <a href="#">2 réponses</a>
				         <div class="buttons">
					         @@include('./_like-button.html')
					         <a href="#" data-reply="reply-questions" class="button response-button">REPONDRE</a>
				         </div>
			         </div>
		         </div>
	         </div>

		   </div>

			<div class="comment-reply-list">
				<div class="comment-body">
					<div class="comment-reply level-1">
						<div class="side">
							<div class="photo">
								<img src="assets/images/photo.png" alt="Photo" />
							</div>
						</div>
						<div class="main">
							<div class="comment-header">
								<div class="left">
									<h3 class="author-name">Jérémy Goldyn</h3>
								</div>
							</div>
							<p>Comment accéder au produit ? Merci.</p>
							<div class="bottom">
								<div class="buttons">
									@@include('./_like-button.html')
									<a href="#" data-reply="reply-questions" class="button response-button">REPONDRE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment-body">
					<div class="comment-reply level-2">
						<div class="line-reply"><span class="text">1 réponse</span></div>

						<div class="side">
							<div class="photo">
								<img src="assets/images/photo.png" alt="Photo" />
							</div>
						</div>
						<div class="main">
							<div class="comment-header">
								<div class="left">
									<h3 class="author-name">Jérémy Goldyn</h3>
								</div>
							</div>
							<p>Il suffit juste de se rendre sur ce site.
								Si ca ne fonctionne pas, tu dois te connecter.
								++</p>
							<div class="bottom">
								<div class="buttons">
									@@include('./_like-button.html')
									<a href="#" data-reply="reply-questions" class="button response-button">REPONDRE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
