<form id="reply-questions" data-id="reply-questions" action="/" method="post" class="su-form reply-form validate" >
	<div class="su-form__field">
		<label for="questions_message">Message</label>
		<textarea name="questions_message" id="questions_message" cols="30" rows="10" placeholder="Ecrivez votre commentaire ici…"></textarea>
	</div>
	<div class="su-form__field w-1-2">
		<label for="questions_name">Nom</label>
		<input type="text" name="questions_name" id="questions_name" placeholder="Nom, prénom, pseudo…" required>
	</div>
	<div class="su-form__field w-1-2">
		<label for="questions_email">Email</label>
		<input type="email" name="questions_email" id="questions_email" placeholder="Adresse email" required>
	</div>

	<div class="su-form__footer">
		<button type="submit" class="disabled">REPONDRE</button>
	</div>
</form>
