<div class="resources-card simple" data-id="immobilier">
	<div class="resources-card__main">
		<!-- card header -->
		<div class="resources-card__header">
			<img class="resources-card__header-image" src="assets/images/card-image.jpg" alt="Tab Card Image">
		</div>
		<!-- card content -->
		<div class="resources-card__content">
		  <ul class="tag-type-list">
			  <li class="tag-type">
				  <a href="#">Immobilier</a>
			  </li>
		  </ul>
			<h4 class="resources-card-title">Analysez et optimisez les résultats de votre projet digital grâce à Inspectlet.</h4>
			<span class="resources-card-author">Jeremy Goldyn</span>

		</div>
	</div>
	<!-- card footer -->
	<div class="resources-card__footer">
		<a href="mes-resources-detail.html" class="resources-card__button">
			<span class="label">
				Afficher
			</span>
		</a>
	</div>
</div>
