<div class="resources-card aside-info" data-id="immobilier">
	<div class="resources-card__main">
		<!-- card header -->
		<div class="resources-card__header">
			<img class="resources-card__header-image" src="assets/images/card-image.jpg" alt="Tab Card Image">
		</div>
		<!-- card content -->
		<div class="resources-card__content">
		  <ul class="tag-type-list">
			  <li class="tag-type">
				  <a href="#">Immobilier</a>
			  </li>
		  </ul>
			<h4 class="resources-card-title">Analysez et optimisez les résultats de votre projet digital grâce à Inspectlet.</h4>
			<span class="resources-card-author">Jeremy Goldyn</span>
			<div class="resources-card-details">
			<!--	<div class="resources-card-looking">
					<img class="icon" src="assets/images/lightbulbr.svg" alt="Card Look">
					<span class="number">435</span>
				</div>-->
				<div class="resources-card-rating">
					<img class="icon" src="assets/images/star.svg" alt="Card Rating">
					<span class="number">3.5</span>
				</div>
			</div>

		</div>
	</div>
</div>
