<div class="article-content-wrapper">

	<header class="article-header">
		<div class="article-info">
			<ul class="tag-type-list">
				<li class="tag-type">
					<a class="tag-tab-link" href="#">Marketing</a>
				</li>
			</ul>
			<span class="tag-label populate">
				<img class="icon" src="assets/images/fire.svg" alt="Populate Icon">
				Populaire
			</span>
		</div>
		<h4 class="article-title">Gagnez un exemplaire du livre “Tool of Titans” de Tim Ferris.</h4>
		<div class="article-meta">
		   <span class="article-author">Proposé par <a href="#" class="author">Jérémy Goldyn</a></span>
		</div>
	</header>

	<div class="article-content">
		<h3>C’est un fait. 90% des projets échouent…</h3>
		<p>Et je ne parle pas de tous les sites internet, e-commerces ou blogs qui n’arrivent pas atteindre leurs objectifs mais seulement des projets avec un numéro d’entreprise.</p>
		<p>Mais pourquoi est-ce qu’autant de projets échouent ?</p>
		<p>D’après le livre « Running Lean » :</p>
		 <blockquote>La majorité des projets échouent. Non pas parce que nous échouons à construire ce que nous voulons construire mais parce que nous perdons énormément de temps, d’argent et d’énergie à construire la mauvaise solution.</blockquote>
		<p>Le livre « Running Lean » est basé sur la méthodologie « Lean Startup ». Sûrement la meilleure approche dans le développement d’un projet (internet et hors internet).</p>
		<p>Le principe est simple : on développe une solution minimum qui contient les fonctionnalités répondant aux besoins les plus urgents/importants à travers laquelle les utilisateurs sont prêts à s’engager.</p>
		<p>Voici un aperçu de l’intérêt de la méthodologie Lean Startup à l’heure actuelle (et les prévisions futures) selon Google Trends.</p>
		<img src="assets/images/article-image.jpg" alt="Image" />
		<p>Le livre « Running Lean » est basé sur la méthodologie « Lean Startup ». Sûrement la meilleure approche dans le développement d’un projet (internet et hors internet).</p>
		<p>Le principe est simple : on développe une solution minimum qui contient les fonctionnalités répondant aux besoins les plus urgents/importants à travers laquelle les utilisateurs sont prêts à s’engager.</p>
		<p>Voici un aperçu de l’intérêt de la méthodologie Lean Startup à l’heure actuelle (et les prévisions futures) selon Google Trends.</p>
	</div>

</div>
