.button {
  display: block;
  max-width: max-content;
  padding: 10px 15px;
  min-height: 40px;
  border: 1px solid $blue;
  background: $blue;
  color: $white;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  filter: brightness(1);
  transition: all .3s ease-in-out;
  text-decoration: none;
  &:hover,
  &:focus {
    cursor: pointer;
    filter: brightness(.9);
  }
}

.square-button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.359402);
  border-radius: 3px;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.274286px;
}

.header-button {
  margin-left: auto;
  margin-right: 0;
  padding: 10px 21px;
  white-space: nowrap;
}

.bordered-button {
  background: transparent;
  box-sizing: border-box;
  border-radius: 20px;
  color: $blue;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  max-width: 235px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background: $blue;
    color: #fff;
  }
  &.disabled {
    background: #D8D8D8;
    border-color: #D8D8D8;
    box-shadow: none;
    color: #969696;
    opacity: 1;
    pointer-events: none;
    &:hover,
    &:focus {
      opacity: .8;
    }
  }
}


a.link {
  max-width: max-content;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: $blue;
  opacity: 1;
  transition: all .3s;
  &.right {
    margin-left: auto;
  }
  &.left {
    margin-right: auto;
  }
  &.center {
    margin: 0 auto;
  }
  &.link-gary {
    color: #3B374D;
  }
  &:hover,
  &:focus {
    opacity: .75;
  }
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 42px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 6px 10px;
  color: #393939;
  + .social-button {
    margin-top: 12px;
  }
  .icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .text {
    color: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  &.facebook {
    background: #3667B8;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    .icon {
      width: 30px;
      height: 30px;
      left: 10px;
    }
  }
}
