<div class="features-banner facture-banner">
	<div class="container">

		<div class="facture-banner-wrapper">
			<div class="column left-side">
				<div class="facture-logo">
					<a class="logo" href="/"><img src="assets/images/logo.svg" alt="SmartUp" /></a>
					<h1 class="features-banner__title">Facture</h1>
				</div>

			</div>
			<div class="column right-side">
				<ul class="facture-action">
					<li><a href="#" class="link link-gary">Imprimer</a></li>
					<li><a href="#" class="link link-gary">Télécharger PDF</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>
